<div>
    <a href='/'>x</a>
    <span data-bind="visible: !isNavigating()">
        <a data-bind="attr: {href: olderHash}">older</a>
    </span>
    <span data-bind="visible: isNavigating">loading ...</span>
</div>
<div class="par">
    <h1 data-bind="text: fullTitle"></h1>
    <div data-bind="css: { hidden: hidden }"><img data-bind="attr: {src: left}" width="200" /></div>
    <div data-bind="css: { hidden: hidden }"><img data-bind="attr: {src: right}" width="200" /></div>
    <p>Thursday 2014</p>
</div>
